; tempwatch.ini - settings for scripts running on the Raspberry Pi

; Radio transceiver
[sensor_listener]
device = {{ transceiver_tty_device }}

; Local database used for logging radio messages
;
; This is interim storage only, used because we cannot rely on an
; internet connection to the offsite server. The offsite server
; pulls records, we do not push: that's deliberate. The RPi is
; considered insecure, and we cannot grant it any unnecessary
; access to the offsite server.
;
[message_db]
provider = mysql
dbname   = {{ monitor_db_name }}
host     = localhost
username = {{ monitor_db_username }}
password = {{ monitor_db_password }}
