; tempwatch.ini - settings for scripts running on the Raspberry Pi
[sensor_listener]
device = {{ transceiver_tty_device }}

[message_db]
provider = mysql
dbname   = {{ monitor_db_name }}
host     = localhost
username = {{ monitor_db_username }}
password = {{ monitor_db_password }}

[temp_db]
provider = mysql
dbname   = {{ cloudserver_db_name }}
host     = localhost
port     = {{ cloudserver_db_port_on_monitor }}
username = {{ cloudserver_db_username }}
password = {{ cloudserver_db_password }}
