Host {{ cloudserver_alias }}
 Hostname       {{ cloudserver_hostname }}
 User           {{ cloudserver_user }}
 IdentityFile   .ssh/id_{{ cloudserver_alias }}
 # Forward mysql to remote server
 LocalForward   {{ cloudserver_mysql_callback_port }} localhost:3306
 # Forward this port on remote server to 22 here, so remote dev can ssh in
 RemoteForward  {{ cloudserver_ssh_callback_port }} localhost:22
 ExitOnForwardFailure yes
 RequestTTY     no
 BatchMode      yes
 ServerAliveInterval 120
